---
import {loadPropDefaults} from "../../loadPropDefaults.js"
import { Icon } from 'astro-icon/components'
import schema from "./schema.yaml"
const props = await loadPropDefaults(schema,Astro.props)
---

<figure class="quote">
  <Icon name="bxs:quote-alt-left" />
  <blockquote cite={props.cite}><p>{props.text}</p></blockquote> 
  <figcaption><cite>{props.cite}</cite></figcaption>
</figure>
