---
import {loadPropDefaults} from "../../loadPropDefaults.js"
import {Icon} from 'astro-icon/components'
import {cond,isNotNil,prop,propSatisfies} from 'ramda'
import "./style.scss"

const props = Astro.props // await loadPropDefaults(import.meta.dirname + "/config.yaml",Astro.props);

const conditions = 
  [ [propSatisfies(isNotNil, "imgSrc") , _ => "image"]
  , [propSatisfies(isNotNil, "icon")   , _ => "icon"]
  , [propSatisfies(isNotNil, "chart")  , _ => "chart"]
  , [propSatisfies(isNotNil, "code")   , _ => "code"]
  , [ _ => true, _ => null]
  ]
const figureType = cond(conditions)(props)
---

<figure>
  { figureType === "image" ? <img src={props.imgSrc}/> : ""}
  { figureType === "icon" ? <span class="icon-background"><Icon name={props.icon} /></span> : ""}
</figure>
