---
import {loadPropDefaults} from "../../loadPropDefaults.js"
import "./index.scss"
const {text,action} = loadPropDefaults(import.meta.dirname + '/config.yaml',Astro.props)
---

<button {action}>{text}</button>
