@use '../../styles/color';

a[role="button"], button {
  --background: var(--color-brand);
  @include color.background-and-contrast(var(--background));
  padding: var(--s1) var(--s2);
  border-radius: var(--border-radius);
  display: inline-block;
  cursor: pointer;
  &:hover {
    @include color.lighten-background-2(var(--color-background),var(--color-support));
    transform: scale(1.01);
  }
  &.primary {
    --background: var(--color-accent);
  }
  &.secondary {
    --background: var(--color-brand);
  }
}
