---
import {loadPropDefaults} from "../../loadPropDefaults.js"
//import schema from "./schema.yaml"
//const props = await loadPropDefaults(schema,Astro.props)
const page = {meta:{},blocks:{},global:{},...Astro.props.page}

import SpeedInsights  from "@vercel/speed-insights/astro"
import SEO from "../SEO/index.astro"
import Style from "../Style/index.astro"
import { kebabCase } from 'change-case'
const toVars =
  fonts => Object.entries(fonts).map( f => "--font-"+kebabCase(f[0]) + ": var(--font-" + kebabCase(f[1]) + ");").join('')

---

<!doctype html>
<html lang={(page.meta.iso_language || 'EN') + '-' + (page.meta.iso_country || 'US')}>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="Astro">
    <Style {...page.meta.theme} />
    <SEO meta={page.meta} />
    <!--
      <Style meta={page.meta} />
      { meta.vercelSpeedInsights && <SpeedInsights/> }
    -->
  </head>

  <body>
    <slot />
  </body>

</html>
