---
import SpeedInsights  from "@vercel/speed-insights/astro"
import SEO from "@components/SEO/index.astro"
import Style from "@components/Style/index.astro"
import { kebabCase } from 'change-case'
const meta = {...Astro.props.meta}
const toVars =
  fonts => Object.entries(fonts).map( f => "--font-"+kebabCase(f[0]) + ": var(--font-" + kebabCase(f[1]) + ");").join('')
---

<!doctype html>
<html lang={(meta.iso_language || 'EN') + '-' + (meta.iso_country || 'US')}>

  <head>
		<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="Astro">
    <Style {...meta} />
    <SEO {...meta} />
    <!-- { meta.vercelSpeedInsights && <SpeedInsights/> }    -->
  </head>
  
  <body>
    <slot />
  </body>

</html>

