@use '../../styles/color';

.hero {
  /* These are the minimal styles needed to get an overlay and contrast*/
  @include color.background-and-contrast(var(--color-background));
  img {
    opacity: var(--image-opacity);
  }
  /**/
  
  height: var(--height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  --measure: 20rem;

  .hero-content{
    z-index: 1;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
  }
}

