---
import {loadPropDefaults} from "../../loadPropDefaults.js"
import "./style.scss"
import Figure from "@components/Figure/index.astro"
const props = await loadPropDefaults(import.meta.dirname + '/config.yaml',Astro.props)
---

<section class="block media-text">
  <h2>{props.headline}</h2>
  <p>{props.text}</p>
  <Figure imgSrc=""/>
</section>
