---
import {loadPropDefaults} from "../../loadPropDefaults.js"
import schema from "./schema.yaml"
const props = await loadPropDefaults(schema,Astro.props)
---

<section class="block column">
</section>
