:root {
  --color-text-light: rgba(245,245,245,.9);
  --color-text-dark: rgba(10,10,10,.9);
  --color-text: var(--color-text-dark);

  --color-background: #F8FAFC;
  --color-surface: #E2E8F0;
  --color-primary: #3B82F6; //primary button
  --color-secondary: #64748B; //secondary button
  --color-accent: #10B981; //additional highlight

  --color-success: #3D9970;
  --color-failure: #FF4136;
  --color-warning: #FFDC00;

  --color-background: transparent;

  --border-width: var(--s-4);
  --border-color: #111111;
  --border-style: solid;

  --invert-color: oklch(from var(--color-background) calc((l - .5) * -9999) c h / .9);

  --transition-time: 150ms;
  transition: var(--transition-time) all ease-in-out;
  --measure: 60ch;
  --border-radius: var(--border-radius-6);
}
