---
import $RefParser from "@apidevtools/json-schema-ref-parser"
import path from 'node:path'
//import WebPage from "@components/Webpage.astro"
import { glob } from 'astro/loaders';
import siteyaml from "@base/site.yaml" //glob({ pattern: "**/*.yaml", base: "./site/" })

const site = await $RefParser.dereference(siteyaml)
const components = Object.entries(import.meta.glob('@components/**/*.astro', { eager: true }))
                   .reduce
                   ( (acc,cur) => {
                       const name = (cur[0].split('/').slice(-2,-1))
                       acc[name] = cur[1].default 
                       return acc
                     }
                   , {}
                   )

                   //const page = site.pages['/']
---

<components.Webpage meta={site}>
  <main>
{JSON.stringify(site)}
    <components.Accordion summary="this is the summary" details="this is the details" />
    <components.Accordion summary="this is the summary" details="this is the details" />
    <components.Button class="primary"/>
    <components.Button class="secondary"/>
    <components.Map />
  </main>
</components.Webpage>

    <!--
    { page.blocks.filter(x=>x.include !== false).map( block => {
      const Component = components[block.component]
      return <Component {page} {...block} />
    })}
    -->
