---
import $RefParser from "@apidevtools/json-schema-ref-parser"
import path from 'node:path'
import WebPage from "@components/WepPage.astro"
import { glob } from 'astro/loaders';
//import site from "@base/site/site.yaml" //glob({ pattern: "**/*.yaml", base: "./site/" })

const site = await $RefParser.dereference('./site/site.yaml')
const components = Object.entries(import.meta.glob('@components/**/*.astro', { eager: true }))
                   .reduce
                   ( (acc,cur) => {
                       const name = (cur[0].split('/').slice(-2,-1))
                       acc[name] = cur[1].default 
                       return acc
                     }
                   , {}
                   )

const page = site.pages['/']
---

<Layout meta={site.meta}>
  <main>
    { page.blocks.filter(x=>x.include !== false).map( block => {
      const Component = components[block.component]
      return <Component {page} {...block} />
    })}
    <!--
    -->
  </main>
</Layout>
