---
import Link from "../Link"
const linksExample =
  [ { text: "Services"
    , href: "#services"
    }
  , { text: "About"
    , href:"#about"
    }
  , { text: "Contact"
    , href:"#contact"
    }
  ]
  const {links = linksExample,meta} = Astro.props
//const listless = Astro.props.listless || true
//const Outer = listless ? 'div' : 'ul';
//const Inner = listless ? 'span' : 'li';
---

<nav>

  <div class="start"></div>

  <div class="center"></div>

  <div class="end">
    { links.map(link => (
      <Link {...link} {meta} />
    ))}
  </div>

</nav>

<style>
  nav {
    --color-background: var(--color-secondary);
    background: var(--color-background);
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    position: sticky;
    > ul, li {
      display: contents;
    }
    a {
      padding: 1rem;
    }
  }
</style>
