@use "sass:map";

html {
}
* {
  color: var(--color-text);
  --color-text: oklch(from var(--color-background) calc((l - .5) * -9999) c h / 1);
  background: var(--color-background);
}

$werner-colors: (
  (name: "snow-white", color: #FFFFFF, tags: ()),
  (name: "reddish-white", color: #F5E8E8, tags: ()),
  (name: "purplish-white", color: #F1E8F1, tags: ()),
  (name: "yellowish-white", color: #FDF9E3, tags: ()),
  (name: "orange-white", color: #FCEFD6, tags: ()),
  (name: "greenish-white", color: #EDF5EF, tags: ()),
  (name: "skimmed-milk-white", color: #EDF0F5, tags: ()),
  (name: "greyish-white", color: #F0F0F0, tags: ()),
  (name: "ash-grey", color: #e5e4dd, tags: ()),
  (name: "smoke-grey", color: #A39F9D, tags: ()),
  (name: "french-grey", color: #C0C0C8, tags: ()),
  (name: "pearl-grey", color: #C8C0D8, tags: ()),
  (name: "yellowish-grey", color: #C8C2A8, tags: ()),
  (name: "bluish-grey", color: #A9B9C9, tags: ()),
  (name: "greenish-grey", color: #B2C2B2, tags: ()),
  (name: "blackish-grey", color: #888C94, tags: ()),
  (name: "greyish-black", color: #2E2E2E, tags: ()),
  (name: "bluish-black", color: #1C1F2B, tags: ()),
  (name: "greenish-black", color: #2C2F1C, tags: ()),
  (name: "brownish-black", color: #2E1E1C, tags: ()),
  (name: "reddish-black", color: #301E1E, tags: ()),
  (name: "raven-black", color: #0C0C1C, tags: ()),
  (name: "velvet-black", color: #000000, tags: ()),
  (name: "indigo-blue", color: #1A237E, tags: ()),
  (name: "prussian-blue", color: #003153, tags: ()),
  (name: "china-blue", color: #A0C4FF, tags: ()),
  (name: "azure-blue", color: #069AF3, tags: ()),
  (name: "ultramarine-blue", color: #5566FE, tags: ()),
  (name: "flax-flower-blue", color: #61c2Fe, tags: ()),
  (name: "berlin-blue", color: #5FBEFC, tags: ()),
  (name: "verditter-blue", color: #5DADEC, tags: ()),
  (name: "greenish-blue", color: #6699CC, tags: ()),
  (name: "greyish-blue", color: #B0C4DE, tags: ()),
  (name: "bluish-lilac-purple", color: #B9AEDC, tags: ()),
  (name: "bluish-purple", color: #6A0DAD, tags: ()),
  (name: "violet-purple", color: #8F00FF, tags: ()),
  (name: "pansy-purple", color: #78184A, tags: ()),
  (name: "campanula-purple", color: #7C6DB0, tags: ()),
  (name: "imperial-purple", color: #602F6B, tags: ()),
  (name: "auricula-purple", color: #6A317F, tags: ()),
  (name: "plum-purple", color: #8E4585, tags: ()),
  (name: "red-lilac-purple", color: #E0B0FF, tags: ()),
  (name: "lavender-purple", color: #967BB6, tags: ()),
  (name: "pale-bluish-purple", color: #C8A2C8, tags: ()),
  (name: "celindine-green", color: #BCE27F, tags: ()),
  (name: "mountain-green", color: #3EB489, tags: ()),
  (name: "leek-green", color: #6B8E23, tags: ()),
  (name: "blackish-green", color: #1F3D1F, tags: ()),
  (name: "verdigris-green", color: #43B3AE, tags: ()),
  (name: "bluish-green", color: #00CCCC, tags: ()),
  (name: "apple-green", color: #8DB600, tags: ()),
  (name: "emerald-green", color: #50C878, tags: ()),
  (name: "grass-green", color: #7CFC00, tags: ()),
  (name: "duck-green", color: #3A9D23, tags: ()),
  (name: "sap-green", color: #507D2A, tags: ()),
  (name: "pistachio-green", color: #93C572, tags: ()),
  (name: "asparagus-green", color: #87A96B, tags: ()),
  (name: "olive-green", color: #808000, tags: ()),
  (name: "oil-green", color: #9C9A40, tags: ()),
  (name: "siskin-green", color: #C0E860, tags: ()),
  (name: "sulphur-yellow", color: #FFFF66, tags: ()),
  (name: "primrose-yellow", color: #F6EABE, tags: ()),
  (name: "wax-yellow", color: #FADA5E, tags: ()),
  (name: "lemon-yellow", color: #FFF44F, tags: ()),
  (name: "gamboge-yellow", color: #E49B0F, tags: ()),
  (name: "kings-yellow", color: #FFD700, tags: ()),
  (name: "saffron-yellow", color: #F4C430, tags: ()),
  (name: "gallstone-yellow", color: #E1C16E, tags: ()),
  (name: "honey-yellow", color: #FFC30B, tags: ()),
  (name: "straw-yellow", color: #E4D96F, tags: ()),
  (name: "wine-yellow", color: #FAF0BE, tags: ()),
  (name: "sienna-yellow", color: #A0522D, tags: ()),
  (name: "ochre-yellow", color: #CC7722, tags: ()),
  (name: "cream-yellow", color: #FFFDD0, tags: ()),
  (name: "dutch-orange", color: #FFA500, tags: ()),
  (name: "buff-orange", color: #F0DC82, tags: ()),
  (name: "orpiment-orange", color: #F28500, tags: ()),
  (name: "brownish-orange", color: #CC5500, tags: ()),
  (name: "reddish-orange", color: #E25822, tags: ()),
  (name: "deep-reddish-orange", color: #D9381E, tags: ()),
  (name: "tile-red", color: #B22222, tags: ()),
  (name: "hyacinth-red", color: #C21E56, tags: ()),
  (name: "scarlet-red", color: #FF2400, tags: ()),
  (name: "vermilion-red", color: #E34234, tags: ()),
  (name: "aurora-red", color: #C72C48, tags: ()),
  (name: "arterial-blood-red", color: #990000, tags: ()),
  (name: "flesh-red", color: #FFDAB9, tags: ()),
  (name: "rose-red", color: #FF007F, tags: ()),
  (name: "peach-blossom-red", color: #FFB7C5, tags: ()),
  (name: "carmine-red", color: #960018, tags: ()),
  (name: "lake-red", color: #B60000, tags: ()),
  (name: "crimson-red", color: #DC143C, tags: ()),
  (name: "cochineal-red", color: #9D2933, tags: ()),
  (name: "veinous-blood-red", color: #8A0303, tags: ()),
  (name: "brownish-purple-red", color: #6B4226, tags: ()),
  (name: "chocolate-red", color: #7B3F00, tags: ()),
  (name: "brownish-red", color: #A52A2A, tags: ()),
  (name: "deep-orange-brown", color: #8B4000, tags: ()),
  (name: "deep-reddish-brown", color: #7B3F00, tags: ()),
  (name: "umber-brown", color: #635147, tags: ()),
  (name: "chesnut-brown", color: #954535, tags: ()),
  (name: "yellowish-brown", color: #9B7E4D, tags: ()),
  (name: "wood-brown", color: #826644, tags: ()),
  (name: "liver-brown", color: #674C47, tags: ()),
  (name: "hair-brown", color: #5C4033, tags: ()),
  (name: "broccoli-brown", color: #7A5230, tags: ()),
  (name: "olive-brown", color: #645E4E, tags: ()),
  (name: "blackish-brown", color: #3B2F2F, tags: ())
);

:root {
  @each $color-map in $werner-colors {
    --color-#{map.get($color-map,name)}: #{map.get($color-map, color)};
  }
}
