.grid {
  --gap: 1rem;
  --item-width: 40ch;
  display: grid;
  grid-gap: var(--gap);
  padding: var(--gap);
}

@supports (width: min(var(--item-width), 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(var(--item-width), 100%), 1fr));
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;

  /*
  Heydon Pickering's CSS. This centers an element within its container. But an alternative is to center a containers child elements. If we assume that an element should take up the minimal space to contain its contents, then the approach of centering from the containers perspective seems more fitting. When you set a rule for a <p> to have a max-width of 60ch or equivalent meausure, you seem to believe this rule.
  --s1: 1rem;
  box-sizing: content-box;
  //max-inline-size: 60ch;
  margin-inline: auto;
  padding-inline-start: var(--s1);
  padding-inline-end: var(--s1);
  */
}

.box {
  --padding: var(--s1);
  --border-width: var(--s1-4);
  padding: var(--padding);
  border: var(--border-width) solid;
  outline: var(--border-width) transparent;
}

.stack {
  --space: var(--s2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  > * {
    margin-block: 0;
  }
  > * + * {
    margin-block-start: var(--space, 1.5rem);
  }
}

