:root {
  --golden-ratio: 1.61803398874989484;
  --gr: var(--golden-ratio);
  --ratio: calc(pow(2, 1 / 12));

  --s0: calc(1rem * pow(var(--ratio),0));
  --s1: calc(1rem * pow(var(--ratio),2));
  --s2: calc(1rem * pow(var(--ratio),5));
  --s3: calc(1rem * pow(var(--ratio),7));
  --s4: calc(1rem * pow(var(--ratio),9));
  --s5: calc(1rem * pow(var(--ratio),12));
  --s6: calc(1rem * pow(var(--ratio),14));
  --s7: calc(1rem * pow(var(--ratio),16));
  --s8: calc(1rem * pow(var(--ratio),19));
  --s9: calc(1rem * pow(var(--ratio),21));
  --s10: calc(1rem * pow(var(--ratio),24));
  --s11: calc(1rem * pow(var(--ratio),31));
  --s12: calc(1rem * pow(var(--ratio),36));

  --s-0: calc(1rem / pow(var(--ratio),0));
  --s-1: calc(1rem / pow(var(--ratio),2));
  --s-2: calc(1rem / pow(var(--ratio),5));
  --s-3: calc(1rem / pow(var(--ratio),7));
  --s-4: calc(1rem / pow(var(--ratio),9));
  --s-5: calc(1rem / pow(var(--ratio),12));
  --s-6: calc(1rem / pow(var(--ratio),14));
  --s-7: calc(1rem / pow(var(--ratio),16));
  --s-8: calc(1rem / pow(var(--ratio),19));
  --s-9: calc(1rem / pow(var(--ratio),21));
  --s-10: calc(1rem / pow(var(--ratio),24));
  --s-11: calc(1rem / pow(var(--ratio),31));
  --s-12: calc(1rem / pow(var(--ratio),36));

  --line-height: var(--golden-ratio);
  /*
  */
}

