* + * {
  margin-top: var(--s0);
}

p {
  max-width: var(--measure);
}
p + p {
  margin-top: var(--s0); 
}

html {
  font-size: 125%;
  line-height: var(--golden-ratio);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  color: var(--color-text);
}
