@use "./scale.scss";
@use "./color.scss";
@use "./variables.scss";
@import "normalize.css";

* {
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

.grid {
  --gap: 1rem;
  --item-width: 40ch;
  display: grid;
  grid-gap: var(--gap);
  padding: var(--gap);
}

@supports (width: min(var(--item-width), 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(var(--item-width), 100%), 1fr));
  }
}

.center {
  --s1: 1rem;
  box-sizing: content-box;
  max-inline-size: 60ch;
  margin-inline: auto;
  padding-inline-start: var(--s1);
  padding-inline-end: var(--s1);
}

.box {
  --padding: var(--s1);
  --border-width: var(--s1-1);
  padding: var(--padding);
  border: var(--border-width) solid;
  outline: var(--border-width) transparent;
}

.stack {
  --space: var(--s2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  > * {
    margin-block: 0;
  }
  > * + * {
    margin-block-start: var(--space, 1.5rem);
  }
}
