---
import {loadPropDefaults} from "../../loadPropDefaults.js"
import { Icon } from 'astro-icon/components'
import schema from "./schema.yaml"
const props = await loadPropDefaults(schema,Astro.props)
const { randomBytes } = await import('node:crypto')
const randomBase64 = crypto.randomBytes(8).toString('base64');
---

<aside aria-labelledby={"aside-quote-"+randomBase64}>
  <Icon name="bxs:quote-alt-left" />
  <p id={"aside-quote-"+randomBase64}>{props.text}</p>
  {props.cite}
</aside>
