---
import {loadPropDefaults} from "../../loadPropDefaults.js"
import { Icon } from 'astro-icon/components'
import "./index.scss"
const { randomBytes } = await import('node:crypto')

const {cite,text} = loadPropDefaults(import.meta.dirname + '/config.yaml',Astro.props)
const randomBase64 = crypto.randomBytes(8).toString('base64');
---

<aside aria-labelledby={"aside-quote-"+randomBase64}>
  <Icon name="bxs:quote-alt-left" />
  <p id={"aside-quote-"+randomBase64}>I have a migraine.</p>
</aside>
