---
const randomRGBA = _ => "rgba("
                      + (155 + Math.random() * 100) + ","
                      + (200 + Math.random() * 50) + ","
                      + (200 + Math.random() * 50) + ","
                      + (1 - (Math.random() / 2))
                      + ")"

const caption = ""
const items = (new Array(13).fill(0)).map((val,_)=>({color: randomRGBA()}))
---

<section class="block gallery grid" style="--item-width: 40ch" vocab="https://schema.org" typeof="ImageGallery">
  { items.map( item  => 
    <figure style={"--color-background:" + item.color} typeof="ImageObject">
      <img property="contentUrl" src={item.src} alt={item.alt} />
      {caption && <figcaption property="caption">{caption}</figcaption>}
    </figure>
  )}
</section>

<!--
    <figure style={"background:" + item.color} typeof="ImageObject">
-->

<style>
  /*
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0rem;
  }
   */
  figure {
    height: 20rem;
  } 
</style>
