---
import {loadPropDefaults} from "../../loadPropDefaults.js"
import "./style.scss"
const {headline} = await loadPropDefaults(import.meta.dirname + '/config.yaml',Astro.props)
---

<section class="block footer">
  <slot />
</section>
