---
import {loadPropDefaults} from "../../loadPropDefaults.js"
import "./style.scss"
import Figure from "../Figure/index.astro"
const props = Astro.props // await loadPropDefaults(import.meta.dirname + '/config.yaml',Astro.props)
const figureProps =
  { imgSrc: props.imgSrc
  , icon: props.icon
  , chart: props.chart
  , code: props.code
  }
---

<div class="card" >
  <h3>{props.headline}</h3>
  <p>{props.subheadline}</p>
  <p>{props.text}</p>
  <Figure {...figureProps} />
</div>

<style>
  .card {
    width: 30rem;
  }
</style>
