:root {
  --transition-duration: 300ms;
}

details::details-content  {
  opacity: 0;
  font-size:0;
}
details[open]::details-content {
  opacity: 1;
  font-size:1rem;
}

details::details-content {
  transition: all var(--transition-duration, 100ms), content-visibility var(--transition-duration, 100ms) allow-discrete;
}

