$blocks-body: 'body > :is(main, header, footer, aside)';
$blocks-main: 'body > main > *';
$blocks-header-footer: 'body > :is(header, footer) > *';
$sections-header-footer: "#{$blocks-header-footer} > *"; // eg upper, middle, lower nav/footer

:root{
  --show-outline: 0;
}


// Ensures Footer is at the bottom
html {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  margin-inline: auto;
}

#{$blocks-body} {
  //color: oklch(from white .99 .05 h / .9);
  border: calc(3px * var(--show-outline)) solid red;
}
#{$blocks-main} {
  border: calc(3px * var(--show-outline)) solid green;
}
#{$blocks-header-footer} {
  display: flex;
  justify-content: space-between;
  border: calc(3px * var(--show-outline)) solid blue;
}
#{$sections-header-footer} {
  border: calc(3px * var(--show-outline)) solid purple;
}
/*
*/
/*
main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  > section {
    display: flex;
    justify-content: space-around;
    flex: 1 1 auto;
    > * {
      max-width: var(--measure);
    }
  }
}
*/
