@mixin grid-subtle {
  --color-grid-lines: hsl(from var(--color-background) h s calc(l + 3));
  --background:
    conic-gradient(from 90deg at 1px 1px, #0000 25%, var(--color-grid-lines) 0%) -0.5px -0.5px/1em 1em,
    linear-gradient(45deg, #0000 calc(50% + -1*0.5px), var(--color-grid-lines) 0 calc(50% + 0.5px), #0000 0) 0 0/2em 2em,
    linear-gradient(-45deg, #0000 calc(50% + -1*0.5px), var(--color-grid-lines) 0 calc(50% + 0.5px), #0000 0) 0 0/2em 2em,
    var(--color-background);
  }
