@use "./normalize";
@use "./color";
@use "./global";
@use "./accordion";
@use "./layout";

/*
@use "../../../../node_modules/@consoleillusion/what-revenge/src/html_element_categories.scss";
//@import "./patterns";
@use "./typography";

button {
  --color-background: var(--color-accent-1);
  padding: 1rem 2rem;
}
@import "./scale";
@use '../../styles/color';

button {--color-background: #111; padding: 1rem 2rem; margin: 1rem; border-radius: var(--border-radius-xs);}
*/

a.button, button {
  --color-background: var(--color-accent-1);
  background: var(--color-background);
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: var(--border-radius-xs);
  display: inline-block;
  cursor: pointer;
  &:hover {
    background: oklch(from var(--color-background) calc(l * 1.1) c h)
  }
  &.primary {
    --color-background: var(--color-accent-2);
  }
  &.secondary {
    --color-background: var(--color-accent-1);
  }
}
