---
import {loadPropDefaults} from "../../loadPropDefaults.js"
import "./style.scss"
const props = Astro.props //Astro.props // await loadPropDefaults(import.meta.dirname + '/config.yaml',Astro.props)
---

<details>
  <summary>{props.summary}</summary>
  <p>{props.details}</p>
</details>
