---
const {base="", text="", href="#", meta = {}} = Astro.props
---

<!--
<a href={href.replace(new RegExp('^./'),meta.url)}>{text}</a>
-->
<a href={(base+'/').replace(/\/\/$/,'/')+href}>{text}</a>

<style>
  nav a {
    text-decoration: none;
    color: var(--invert-color);
  }
</style>
